parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: method.dynamicName
        -
            identifier: property.dynamicName

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
